$color-theme: #008080;
$color-white: white;
$color-black: black;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body{
    overflow-x: hidden;
}


.container{
    width: 100vw;
    header{
        background-color: $color-theme;
        width: 100vw;
        height: 6vmax;
        position: sticky;
        top: 0;
        display: flex;
        z-index: 10;
        
       

        img{
            height: 4vmax;
            width: 4vmax;
            margin: 1vmax 0 1vmax 4vmax;
        }

        nav{
            height: 6vmax;
            width: 92vw;
            .menuBar{
                font-size: 5vmax;
                font-weight: bolder;
                position: absolute;
                right: 5vw;
                bottom: .5vmax;
                color: $color-white;
                height: 100%;
            }
            ul{
                display: none;
                background-color: $color-white;
                flex-direction: column;
                height: calc(100vh - 6vmax);
                width: 100vw;
                justify-content: flex-start;
                position: absolute;
                right: 0;
                top: 6vmax;
                li{
                    font-weight: bolder;
                    margin: 0 0 6vh 0;
                    padding-left: 4vh;
                    &:first-child{
                        margin-top: 10vh;
                    }                    
                    :link{
                        color: $color-theme;
                    }
                    &.active{
                        background-color: $color-theme;
                        box-sizing: content-box;
                        padding:3vh 0 3vh 4vh;
                        :link{
                            color: $color-white;
                        }
                    }
                }
    
            }

            @media (min-width: 600px){
                .menuBar{
                    display: none;
                }
                ul{                                    
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    flex-direction: row;
                    height: 6vmax;
                    width: 100%;
                    position: relative;
                    top: 0;
                    display: flex;
                    li{
                        font-weight: bolder;
                        margin: 0 0 6vh 7vw;
                        padding: .5vw;
                        margin: 0 1.5vw;                     
                        &:first-child{                            
                        margin: 0 1.5vw;
                        }
                        :link{
                            color: $color-white;
                        }
                        &.active{
                            background-color: $color-white;
                            box-sizing: content-box;
                            padding:1vmax 1vw 1vmax 1vw;
                            :link{
                                color: $color-theme;
                            }
                        }
                    }
                }
            }
        }

        

    }
    main.home{        
        section{
            font-size: 3.5vw;
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &.homeIntro{
                width: 100vw;
                height: 120vw;
                position: relative;
                border-bottom: 1vmin solid $color-theme;
                @media (orientation: 'landscape'){
                    height: calc(100vh - 6vmax);
                }
                .backgroundImage{
                    height: 100%;
                    width: 100%;
                    filter: blur(2px);                    
                    background-repeat: no-repeat;
                    object-fit: cover;
                }
                .content{
                    width: 100%;
                    height: 100%;
                    background-color: transparent;
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    div{
                        height: fit-content;
                        width: fit-content;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        span{
                            font-weight: bold;
                            &.a{
                                font-size: 2vmax;
                                margin-bottom: 1vh;
                            }
                            &.b{
                                font-size: 2.5vmax;
                            }
                        }
                    }
                    h1{
                        font-size: 15vw;
                        color: $color-theme;
                        text-shadow:#ccc 0 1vmin;
                        border-right: 1px solid black;
                        margin: 8vh 0;
                    }
                    h3{
                        font-size: 8vw;
                        box-sizing: content-box;
                        padding: 1vmin 5vmin;
                        background-color: $color-theme;
                        color: $color-white;
                        border-radius: 5vmin;
                        border: .5vmin solid white;
                        box-shadow: 0 1vmin $color-white;
                    }
                    @media (orientation: 'landscape'){
                        h1{
                            margin: 6vh;
                            font-size: 14vw;
                        }
                        h3{
                            font-size: 3.5vw;
                        }
                    }
                }
            }
            &.moreIntro{
                padding: 7vmax 10vw;
                text-align: center;
                h1{
                    font-size: 7vw;
                    margin: 3.5vmax 0;
                }
            }
            &.services{
                display: grid;
                background-color: #eee;
                padding: 5vmax;
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                grid-auto-rows: minmax(150px, auto);
                gap: 5vmin;
                font-size: 25px;
                div{
                    background-color: white;
                    padding: 5vmin;
                    h2{
                        font-size: 30px;
                        margin-bottom: 4vmax;
                        color: $color-theme;
                    }
                    &:nth-child(odd){
                        background-color: #ccc;
                    }
                    img{
                        width: 25%;
                        border-radius: 50%;
                        float: left;
                        shape-outside: circle();
                        margin-right: 15%;
                        
                    }
                    p{
                        font-size: 20px;
                    }                  
                }
            }
            
            
        }
    }
    main.about{
        height: 100vh;
    }
    main.order{
        width: 100vw;
        form{
            background-color: #eee;
            padding: 5vmin;
            color: $color-theme;
            label{
                display: block;
                font-size: 2vh;
                margin-bottom: 1vh;
                @media (orientation: 'landscape'){
                    height: 7.5vh;                    
                    font-size: 5vh;
                    
                }
            }        
            #username, #phone, #state {
                margin-top: 1vh;
                display: inline-block;
                height: 6vh;
                width: 60vw;
                border: $color-theme solid;
                border-radius: 4vh;
                color: $color-theme;
                font-size: 3vh;
                padding: 0 1vh;
                @media (orientation: 'landscape'){
                    height: 7.5vh;                    
                    font-size: 5vh;
                    
                }
            }
            h3{
                margin: 2vh 0;
                font-size: 4vh;
            }
            section{
                background-color: #ccc;
                min-height: 50vh;
                padding: 2vmin;
                div{
                    border: 2px solid $color-theme;
                    margin-bottom: 2vmin;
                    padding: 2vmin;
                    border-radius: 2vmin;
                    position: relative;
                    input[type=url]{
                        margin-bottom: 1vh;
                        width: 90%;
                        height: 4vh;
                        font-size: 2.5vh;
                    }
                    span{
                        border-radius: 50%;
                        background-color: red;
                        color: $color-white;
                        width: 4vh;
                        height: 4vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 3vh;
                        position: absolute;
                        top: 1vmin;
                        right: 1vmin;
                        cursor: pointer;
                    }
                    textarea{
                        width: 100%;
                        min-height: 8vh;
                        font-size: 2vh;
                    }
                }
            }
            button{
                cursor: pointer;
                height: 7vh;
                width: 35vw;
                margin: 2vmax 0 0 6.5vw;
                background-color: $color-theme;
                color: $color-white;
                font-size: 3.5vh;
                border: 1vmin solid #aaa;
                border: .5vh solid red;
                border-radius: 3.5vh;
                box-shadow: 0 1vh #aaa;
                position: relative;
                &:hover, &:active{
                    top: .4vh;
                    box-shadow: none;
                }
            }
        }
        
    }

    footer{
        background-color: $color-theme;
        color: $color-white;
        .footerContainer{
            padding: 2vh 5vw;
            h4{
                font-size: 3vmax;
                margin-bottom:2vmin;
            }
            
            a{
                font-size: 2vmax;
                display: flex;
                align-items: center;
                width: fit-content;
                margin: 3vh 0;
                color: $color-white;
                position: relative;
                box-sizing: content-box;
                padding: 2vmin;
                border-radius: 2vmax;
                border: 2px solid $color-white;
                box-shadow: 0px .5vmax  $color-white;
                &:hover, &:active{
                    top: .4vmax;
                    box-shadow: none;
                }
                img{
                    height: 2vmax;
                    width: 2vmax;
                }
                span{
                    margin-left: 1vmax;
                }
            }
        }

        h3{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            background-color: $color-white;
            color: $color-theme;
            padding: 2vh 5vw;

            span{
                margin-right: .5vw;
            }
            
        }
        .whatsapp{
            height: 8vh;
            width: 8vh;
            position: fixed;
            z-index: 100;
            right: 5vmin;
            bottom: 5vh;
            @media (min-width: 600px){

            }
        }
    }
    
}
