* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  outline: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

.container header {
  background-color: #008080;
  width: 100vw;
  height: 6vmax;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.container header img {
  height: 4vmax;
  width: 4vmax;
  margin: 1vmax 0 1vmax 4vmax;
}

.container header nav {
  height: 6vmax;
  width: 92vw;
}

.container header nav .menuBar {
  font-size: 5vmax;
  font-weight: bolder;
  position: absolute;
  right: 5vw;
  bottom: .5vmax;
  color: white;
  height: 100%;
}

.container header nav ul {
  display: none;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 6vmax);
  width: 100vw;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  right: 0;
  top: 6vmax;
}

.container header nav ul li {
  font-weight: bolder;
  margin: 0 0 6vh 0;
  padding-left: 4vh;
}

.container header nav ul li:first-child {
  margin-top: 10vh;
}

.container header nav ul li a {
  color: #008080;
}

.container header nav ul li.active {
  background-color: #008080;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 3vh 0 3vh 4vh;
}

.container header nav ul li.active a {
  color: white;
}

@media (min-width: 600px) {
  .container header nav .menuBar {
    display: none;
  }
  .container header nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 6vmax;
    width: 100%;
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .container header nav ul li {
    font-weight: bolder;
    margin: 0 0 6vh 7vw;
    padding: .5vw;
    margin: 0 1.5vw;
  }
  .container header nav ul li:first-child {
    margin: 0 1.5vw;
  }
  .container header nav ul li a {
    color: white;
  }
  .container header nav ul li.active {
    background-color: white;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 1vmax 1vw 1vmax 1vw;
  }
  .container header nav ul li.active a {
    color: #008080;
  }
}

.container main.home section {
  font-size: 3.5vw;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main.home section.homeIntro {
  width: 100vw;
  height: 120vw;
  position: relative;
  border-bottom: 1vmin solid #008080;
}

@media (orientation: landscape) {
  .container main.home section.homeIntro {
    height: calc(100vh - 6vmax);
  }
}

.container main.home section.homeIntro .backgroundImage {
  height: 100%;
  width: 100%;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  background-repeat: no-repeat;
  -o-object-fit: cover;
     object-fit: cover;
}

.container main.home section.homeIntro .content {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main.home section.homeIntro .content div {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container main.home section.homeIntro .content div span {
  font-weight: bold;
}

.container main.home section.homeIntro .content div span.a {
  font-size: 2vmax;
  margin-bottom: 1vh;
}

.container main.home section.homeIntro .content div span.b {
  font-size: 2.5vmax;
}

.container main.home section.homeIntro .content h1 {
  font-size: 15vw;
  color: #008080;
  text-shadow: #ccc 0 1vmin;
  border-right: 1px solid black;
  margin: 8vh 0;
}

.container main.home section.homeIntro .content h3 {
  font-size: 8vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 1vmin 5vmin;
  background-color: #008080;
  color: white;
  border-radius: 5vmin;
  border: .5vmin solid white;
  -webkit-box-shadow: 0 1vmin white;
          box-shadow: 0 1vmin white;
}

@media (orientation: landscape) {
  .container main.home section.homeIntro .content h1 {
    margin: 6vh;
    font-size: 14vw;
  }
  .container main.home section.homeIntro .content h3 {
    font-size: 3.5vw;
  }
}

.container main.home section.moreIntro {
  padding: 7vmax 10vw;
  text-align: center;
}

.container main.home section.moreIntro h1 {
  font-size: 7vw;
  margin: 3.5vmax 0;
}

.container main.home section.services {
  display: -ms-grid;
  display: grid;
  background-color: #eee;
  padding: 5vmax;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  gap: 5vmin;
  font-size: 25px;
}

.container main.home section.services div {
  background-color: white;
  padding: 5vmin;
  height: 100%;
}

.container main.home section.services div h2 {
  font-size: 30px;
  margin-bottom: 2.5vmax;
  color: #008080;
}

.container main.home section.services div:nth-child(odd) {
  background-color: #ccc;
}

.container main.home section.services div img {
  width: 25%;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
  margin-right: 15%;
}

.container main.home section.services div p {
  font-size: 20px;
}

.container main.home section.services div p.deep {
  margin-top: 2vmin;
}

.container main.home section.services div p.deep b {
  color: #008080;
  text-transform: uppercase;
}

.container main.home section.services div p.deeper {
  margin-top: 2vmin;
  color: #008080;
}

.container main.home section.services div p.paragraph {
  text-indent: 40px;
  margin-top: 2vmin;
}

.container main.home section.services div a {
  color: white;
  background-color: #008080;
  padding: 2px 5px;
  border-radius: 20px;
}

.container main.about {
  min-height: 100vh;
  width: 100vw;
  padding: 7vmin;
}

.container main.about h1 {
  font-size: 8vmin;
  margin: 5vmin;
  text-align: center;
  text-transform: uppercase;
  color: #008080;
}

.container main.about p {
  font-size: 4vmin;
  line-height: 6vmin;
  margin-bottom: 6vmin;
  text-indent: 8vmin;
}

.container main.order {
  width: 100vw;
}

.container main.order form {
  background-color: #eee;
  padding: 5vmin;
  color: #008080;
}

.container main.order form label {
  display: block;
  font-size: 2vh;
  margin-bottom: 1vh;
}

@media (orientation: landscape) {
  .container main.order form label {
    height: 7.5vh;
    font-size: 5vh;
  }
}

.container main.order form #username, .container main.order form #phone, .container main.order form #state {
  margin-top: 1vh;
  display: inline-block;
  height: 6vh;
  width: 60vw;
  border: #008080 solid;
  border-radius: 4vh;
  color: #008080;
  font-size: 3vh;
  padding: 0 1vh;
}

@media (orientation: landscape) {
  .container main.order form #username, .container main.order form #phone, .container main.order form #state {
    height: 7.5vh;
    font-size: 5vh;
  }
}

.container main.order form h3 {
  margin: 2vh 0;
  font-size: 4vh;
}

.container main.order form section {
  background-color: #ccc;
  min-height: 50vh;
  padding: 2vmin;
}

.container main.order form section div {
  border: 2px solid #008080;
  margin-bottom: 2vmin;
  padding: 2vmin;
  border-radius: 2vmin;
  position: relative;
}

.container main.order form section div input[type=url] {
  margin-bottom: 1vh;
  width: 90%;
  height: 4vh;
  font-size: 2.5vh;
}

.container main.order form section div span {
  border-radius: 50%;
  background-color: red;
  color: white;
  width: 4vh;
  height: 4vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3vh;
  position: absolute;
  top: 1vmin;
  right: 1vmin;
  cursor: pointer;
}

.container main.order form section div textarea {
  width: 100%;
  min-height: 8vh;
  font-size: 2vh;
}

.container main.order form button {
  cursor: pointer;
  height: 7vh;
  width: 35vw;
  margin: 2vmax 0 0 6.5vw;
  background-color: #008080;
  color: white;
  font-size: 3vh;
  border: 1vmin solid #aaa;
  border: .5vh solid red;
  border-radius: 3.5vh;
  -webkit-box-shadow: 0 1vh #aaa;
          box-shadow: 0 1vh #aaa;
  position: relative;
}

.container main.order form button:hover, .container main.order form button:active {
  top: .4vh;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container footer {
  background-color: #008080;
  color: white;
}

.container footer .footerContainer {
  padding: 2vh 5vw;
}

.container footer .footerContainer h4 {
  font-size: 3vmax;
  margin-bottom: 2vmin;
}

.container footer .footerContainer a {
  font-size: 2vmax;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 3vh 0;
  color: white;
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 2vmin;
  border-radius: 2vmax;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0.5vmax white;
          box-shadow: 0px 0.5vmax white;
}

.container footer .footerContainer a:hover, .container footer .footerContainer a:active {
  top: .4vmax;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.container footer .footerContainer a img {
  height: 2vmax;
  width: 2vmax;
}

.container footer .footerContainer a span {
  margin-left: 1vmax;
}

.container footer h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #008080;
  padding: 2vh 5vw;
}

.container footer h3 span {
  margin-right: .5vw;
}

.container footer .whatsapp {
  height: 8vh;
  width: 8vh;
  position: fixed;
  z-index: 100;
  right: 5vmin;
  bottom: 5vh;
}
